a {
    text-decoration: none;

}

body {
    font-family: Tahoma, sans-serif;
    margin: 10px;
    padding: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 4px;
}
li {
    float: left;
    padding: 12px;
}
li:hover {
    background-color: rgb(115, 145, 205);
    border-radius: 8px;
}
#pagina {
    margin-left: 5%;
    margin-right: 30%;
    text-align: justify;
}